*{
    margin: 0;
}
.login-page{
    height: 100vh;
}
.login{
    display: flex;
    flex-direction: row;
}
.Sign-left{
    width: 50%;
    height: 100vh;
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.Sign-right{
   

    width: 50%;
    height: 100vh;
    background: grey;
    background-image: url('https://images.pexels.com/photos/8014761/pexels-photo-8014761.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.form-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    width: 400px;
    margin-top: 150px;
    margin-left: 100px;
    padding: 10px;
    
}
.form-box input{
    display: block;
    width: 100%;
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555;
    line-height: 1.2;
    outline: none;
    border: none;
    overflow: visible;
    height: 45px;
    border-bottom: 2px solid rgb(255, 238, 238);
    
    

}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    width: 180px;
    font-size: 1em;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-family: inherit;
    background-color: #cab0b0;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .check{
    /* width: 20px; */
    display: flex;
    align-items: center;
    gap: 25%;
  }
  .login-button{
    width: 410px;
  }
  .sign-up{
    width: 410px;
    background-color: #cab0b0;
    color: #fcfbfb;
  }
  .font{
    font-size: x-small;
  }